# 忽略所有的编译生成文件
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a

# Python 虚拟环境
venv/
.env
__pycache__/
*.pyc
*.pyo

# 日志和临时文件
*.log
*.tmp
*.swp
.DS_Store

# 忽略 VS Code / JetBrains IDE 相关配置
.vscode/
.idea/

# CMake / 编译相关文件
build/
CMakeFiles/
CMakeCache.txt

# Git 相关
*.orig
*.rej

# 忽略密钥和凭据
*.pem
*.key
*.crt

# 🚀 忽略 logs/ 和 models/ 目录内的所有文件
logs/*
log/*
models/*
model/*
C2NZE/demo_v1.5/logs/*
C2NZE/demo_v1.5/models/*



# ✅ 但允许上传 .gitkeep 文件
!logs/.gitkeep
!log/.gitkeep
!models/.gitkeep
!model/.gitkeep

C2NZE/demo_v1.6_keywords-recommend/logs/*
.gitignore
C2NZE/demo_v1.6_keywords-recommend/rerank_demo/logs/*.md
C2NZE/models/bge-reranker-v2-m3
C2NZE/models/bge-reranker-v2-m3
